[submodule "external/fpng"]
	path = external/fpng
	url = https://github.com/richgel999/fpng
[submodule "external/bcdec"]
	path = external/bcdec
	url = https://github.com/iOrange/bcdec
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "external/7zip"]
	path = external/7zip
	url = https://github.com/ip7z/7zip
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "external/libavif"]
	path = external/libavif
	url = https://github.com/AOMediaCodec/libavif
[submodule "external/libdeflate"]
	path = external/libdeflate
	url = https://github.com/ebiggers/libdeflate
